* {
    button-background: #2F3136;
    gray-background-1: #36393F;
    gray-background-2: #2F3136;
    gray-background-3: #292B2F;
    gray-background-4: #202225;
    bloo: #7289da;
    porpal: #3644d9;
}

.root {
    -fx-font-family: "Franklin Gothic Book";
    -fx-text-fill: #ffffff;
}

.root_darkest {
    -fx-background-color: gray-background-4;
}

.root_darker {
    -fx-background-color: gray-background-3;
}

.root_dark{
    -fx-background-color: gray-background-2;
}

.root_darkish{
    -fx-background-color: gray-background-1;
}

.button {
    -fx-background-color: button-background;
    -fx-font-family: "Franklin Gothic Book";
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
    -fx-font-size: 25px;
}

.button:hover {
    -fx-opacity: 0.6;
}

.text_white {
    -fx-font-family: "Franklin Gothic Book";
    -fx-fill: white;
    -fx-font-size: 25px;
}

.text_title {
    -fx-font-family: "Franklin Gothic Book";
    -fx-font-weight: bolder;
    -fx-fill: white;
    -fx-font-size: 40px;
}

.grid {
    -fx-background-color: gray-background-1;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: porpal, gray-background-4;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0;

    -fx-font-family: "Franklin Gothic Book";
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-background-color: bloo, gray-background-4;
}

.check-box {
    -fx-font-family: "Franklin Gothic Book";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}